*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #dadada;
    font-family: "gilroy";
}

#main #nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
#main #nav h3{
    margin-left: 10px;
}
#main #links a{
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    color: black;
    margin-right: 20px;
}
#main #links #active{
    border-bottom: 2px solid black;
}
#main #hero{
    width: 100%;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    text-align: center;
}
#main #hero h1{
    line-height: 25px;
}
#main #hero p{
    position: relative;
    font-weight: 200;
    font-size: 12px;
    margin: 20px;

}
#main #hero button{
    padding: 8px 12px;
    border-radius: 15px;
    background-color: royalblue;
    color: #fff;
    margin-bottom: 20px;
    border: none;
}
#circle{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: royalblue;
    filter: blur(20px);
}
#circle2{
    position:absolute;
    top: 15%;
    right: 35%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    filter: blur(20px);
}
#circle3{
    position:absolute;
    top: 3%;
    right: 20%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:purple;
    filter: blur(20px);
}
#circle4{
    position:absolute;
    top: 2%;
    left: 15%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(161, 7, 58, 0.924);
    filter: blur(15px);
}

#hero img{
    width: 70%;
}